body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  padding-left: 20px;
 
}
.headerImage {
  padding-left: 10px;
  height: 80px;
}

.headerText {
  padding-left: 100px;
  letter-spacing: 3px;
  font-size: 50px;
  color: blue;
}
.navContent{
  text-decoration: none;
  color: red;
}

.navContent:hover {
  color: black;
  text-decoration: underline;
 
}

.content {
  display: flex;
  
}

aside {
  
  width: 15%;
  
}

main {

  width: 65%;
  
}
h2{
  text-align: center;
  color: green;
}

section {
  
  width: 20%;

}

footer {
 
  background-color: red;
  display: flex;
  
}

header,nav,aside,main,section,footer two-column{
  border : 1px grey solid;
}

.hero-unit {
  padding: 0px;
  margin: 5px;
}
.sub-hero-unit {
  background :url("../img/bmw.jpg");
  background-size: cover;
  height: 75vh;
  width : 100%;
  padding-bottom: 250px; 
}

ul {
  display: flex;
  justify-content: space-around; 
  padding-left:1000px;

}
li {
  list-style-type: none;
  font-size: 20px;
}



.right-section-content {
  padding-top: 0px;
  padding-left: 15px;
  text-align: left;
  display: block;
}

.right-section-content li {
  padding-top: 30px;
}

section p {
  padding: 10px;
  padding-right: 23px;
  text-align: justify;
  font-family: calibri;
}



.aside-content {
  text-decoration: none;
}

article {
  display: flex;
}
article img {
  padding: 20px;
  width:277px;
  height: 100px;
  text-align: center;
}
.main-article-para {
  padding-right: 12px;
  text-align: justify;
}
two-column{
display: flex;
margin:20px auto;


}
two-column img{
  margin-right: 50px;
}
thee-column{
display: flex;
flex-direction: column;
background-color: #e3e3e3;

}
thee-column a{
  text-decoration: none;
}
thee-column h1{
  color: green;
}
.continue{
padding-left: 800px;
}
.continue:after{
  content: ")"
}
.continue:before{
  content: "("
}
.continue:hover {
  color: black;
  text-decoration: underline;
 
}

.fa{

  padding: 20px;
  font-size: 30px;
  text-decoration: none;
   margin: 5px 5px;
   border-radius: 50%;
  
}
.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
} 
.center{
 margin: auto;
}
@media (max-width: 600px) {
  .content {

    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  section {
    width: 100%;
  }

  main {
    width: 100%;
  }

  ul {
    display: block;
    text-align: left;
    padding-left: 15px;
    
  }
  .image{
  flex-direction: column;
  width: 100%;
  }

}